.landing {
    background: url(../../images/crushing.jpg) no-repeat center center;
    background-size: cover;
}

.topLanding {
    background: url(../../images/homeGif.gif) no-repeat center center;
    background-size: cover;
}

.topLanding > h1 {
    color: white;
    font-weight: 900;
    font-size: 110%;
    line-height: 90%;
    letter-spacing: -1px;
}

.bottomLanding {
    background: url(../../images/push.jpg) no-repeat center center;
    background-size: cover;
}